.portfolio
{
    position: relative;
    // background: linear-gradient(180deg, rgba(199,235,220,1) 29%, rgba(255,200,117,1) 100%);
    background: linear-gradient(180deg, rgba(114,230,238,1) 36%, rgba(235,207,181,1) 96%);

    .progress
    {
        position: sticky; /* pour que "Mes projets" ne bougent pas lors du scroll */
        right: 0;
        top: 0;
        left: 0;
        padding: 100px 100px 30px 100px;
        text-align: center;
        color: white;
        font-size: 5em;
        backdrop-filter: blur(20px);
        z-index: 50;

        h3
        {
            font-size: 70px;
            font-weight: 600;
            padding-bottom: 10px;
        }

        .progressBar
        {
            height: 10px;
            background-color: white;
        }
    }

    .nuage
    {
        background-image: url("../../utils/assets/clouds_2.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        width: 1800px;
        height: 450px;
        position: absolute;
        bottom: 58%;
        left: 250px;
        pointer-events: none;
    }

    .avion
    {
        background-image: url("../../utils/assets/avion.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        width: 800px;
        height: 450px;
        position: absolute;
        bottom: 15%;
        right: 3%;
        pointer-events: none;
    }
}
