@import '../../app.scss';

.portfolio
{
    position: relative;
    // background: linear-gradient(180deg, rgba(199,235,220,1) 29%, rgba(255,200,117,1) 100%);
    background: linear-gradient(180deg, rgba(114,230,238,1) 36%, rgba(235,207,181,1) 96%);

    .progress
    {
        position: sticky; /* pour que "Mes projets" ne bougent pas lors du scroll */
        right: 0;
        top: 0;
        left: 0;
        padding: 100px 100px 30px 100px;
        text-align: center;
        color: white;
        font-size: 5em;
        backdrop-filter: blur(20px);
        z-index: 50;

        @include desktop
        {
            padding: 100px 50px 0px 50px;
        }

        h3
        {
            font-size: 70px;
            font-weight: 600;
            padding-bottom: 10px;

            @media (max-width: 1600px) 
            {
                font-size: 50px;
            }
        }

        .progressBar
        {
            height: 10px;
            background-color: white;

            @media (max-width: 1600px) 
            {
                height: 8px;
            }
        }
    }

    .projects-flex
    {
        display: flex;
        flex-direction: column;
        gap: 150px;
    }

    .nuage
    {
        background-image: url("../../utils/assets/clouds_2.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        width: 1800px;
        height: 450px;
        position: absolute;
        bottom: 58%;
        left: 250px;
        pointer-events: none;

        @media (max-width: 2200px) 
        {
            width: 1700px;
            left: -250px;
        }

        @media (max-width: 1600px) 
        {
            width: 1300px;
            left: -250px;
            animation: levitateCloud 13s ease-in-out infinite;

            @keyframes levitateCloud 
            {
                0% {transform: translateX(0);}
                50% {transform: translateX(-200px);}
                100% {transform: translateX(0);}
            }
        }

        @media (max-width: 1600px) 
        {
            left: -300px;
            animation: levitateCloud 10s ease-in-out infinite;

            @keyframes levitateCloud 
            {
                0% {transform: translateX(0);}
                50% {transform: translateX(-100px);}
                100% {transform: translateX(0);}
            }
        }

        @include tablet
        {
            width: 1200px;
            left: -350px;
        }

        @media (max-width: 900px)
        {
            left: -450px;
        }
    }

    .avion
    {
        background-image: url("../../utils/assets/avion.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        width: 800px;
        height: 450px;
        position: absolute;
        bottom: 15%;
        right: 3%;
        pointer-events: none;

        @media (max-width: 2200px) 
        {
            width: 700px;
            height: 400px;
            bottom: 17%;
        }

        @media (max-width: 1900px) 
        {
            width: 600px;
            height: 400px;
        }

        @media (max-width: 1600px) 
        {
            width: 500px;
            height: 350px;
            bottom: 26%;
            left: 8%;
            animation: levitate 5s ease-in-out infinite;

            @keyframes levitate 
            {
                0% {transform: translateY(0);}
                50% {transform: translateY(-30px);}
                100% {transform: translateY(0);}
            }
        }

        @include desktop
        {
            bottom: 27.5%;
        }
    }
}
