@font-face 
{
    font-family: "Scarva";
    src: url("../../../public/SCARVA.woff2") format('woff2');
}

.container-accueil
{
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .accueil
    {
        position: relative;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        // background: linear-gradient(180deg, rgba(19,83,119,1) 28%, rgba(112,221,214,1) 100%);
        background: linear-gradient(180deg, rgba(14,16,119,1) 36%, rgba(57,183,231,1) 96%);
        overflow: hidden;
        

        @keyframes slideIn {
            from {
              transform: translateX(-500px);
              opacity: 0;
            }
            to {
              transform: translateX(0);
              opacity: 1;
            }
          }

        h1
        {
            font-family: "Scarva";
            font-size: 200px;
            border-top: 1px solid white;
            padding: 35px 20px 10px 20px;
            text-align: center;
            line-height: 1;
            letter-spacing: 5px;
            z-index: 3;
            animation: slideIn 1s ease-out forwards;

            @media (max-width: 2200px) 
            {
                font-size: 180px;
            }

            @media (max-width: 1900px) 
            {
                font-size: 160px;
            }

            @media (max-width: 1600px) 
            {
                font-size: 140px;
            }
        }

        h2
        {
            position: relative;
            font-family: "scarva";
            font-size: 160px;
            padding: 10px 90px 0px 90px;
            border-bottom: 1px solid white;
            z-index: 3;
            animation: slideIn 1s ease-out forwards;

            @media (max-width: 2200px) 
            {
                font-size: 140px;
                padding: 10px 100px 0px 100px;
            }

            @media (max-width: 1900px) 
            {
                font-size: 130px;
                padding: 10px 75px 0px 75px;
                
            }

            @media (max-width: 1600px) 
            {
                font-size: 120px;
                padding: 10px 45px 0px 45px;
            }
        }

        h3
        {
            position: relative;
            font-family: "scarva";
            font-size: 110px;
            padding: 27px;
            animation: slideIn 1s ease-out forwards;

            @media (max-width: 2200px) 
            {
                font-size: 90px;
            }

            @media (max-width: 1900px) 
            {
                font-size: 80px;
            }

            @media (max-width: 1600px) 
            {
                font-size: 70px;
            }
        }

        img
        {
            width: 4%;
            height: auto;
            filter: invert(1); /* noir ==> blanc */
        }

        .scroll-button
        {
            animation: scrollButton 2s ease-out infinite;
        }

        @keyframes scrollButton 
        {
            0% 
            {
              opacity: 0;
              transform: translateY(0px);
            }
            50% 
            {
              opacity: 1;
              transform: translateY(15px);
            }
            100% 
            {
              opacity: 0;
              transform: translateY(0px);
            }
        }

        .moon
        {
            position: absolute;
            margin: 0;
            width: 35%;
            top: 15%;
            left: 50px;
            opacity: 55%;
            z-index: 2;
            filter: invert(0);
        }
    }

    h1, h2, h3
    {
        opacity: 0;
        transform: translateX(-500px);
        animation: slideIn 1s ease-out forwards;
    }

    h1 {animation-delay: 0.1s;}
    h2 {animation-delay: 0.2s;}
    h3 {animation-delay: 0.3s;}

}


.container-accueil::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -6%;
    background-image: 
        radial-gradient(white, rgba(255,255,255,.2) 3px, transparent 10px),
        radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 10px),
        radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
        radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 1px, transparent 10px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    animation: levitate 5s ease-in-out infinite;
    z-index: 1;
    pointer-events: none;

    @keyframes levitate 
    {
        0% {transform: translateX(0);}
        50% {transform: translateX(-20px);}
        100% {transform: translateX(0);}
    }
}