.project-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(80, 85, 90);
    font-size: 2em;

    img
    {
        flex: 1; /* pour avoir la même taille que le texte d'infos */
        height: 50%;
        width: 50%;
    }

    .infos-wrapper
    {
        flex: 1; /* pour avoir la même taille que l'img */

        h4
        {
            font-size: 1.5em;
            font-weight: 600;
            padding-bottom: 30px;
        }

        p
        {
            width: 80%;
            padding-bottom: 30px;
            text-align: justify;
        }
    }
}