.modal-overlay 
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content 
  {
    position: relative;
    background-color: white;
    border-radius: 10px;
    width: 60%;
    height: 60%;
    overflow: auto;
    display: flex;
    flex-direction: column;

    #modal-header
    {
      position: absolute;
      top: 0;
      right: 0;
      height: 100px;
      width: 100%;
      z-index: 1;
      
      .modal-close-button 
      {
        position: absolute;
        top: 45px;
        right: 45px;
        background: none;
        border: none;
        cursor: pointer;
    
        img
        {
          width: 40px;
        }
    
        img:hover
        {
          transform: scale(1.25);
        }
    
      }
    }

    #modal-body
    {
      position: absolute;
      width: 100%;
      left: 0;
      padding: 50px;
      z-index: 0;

      h4
      {
        padding-bottom: 30px;
        font-size: 2rem;
        font-weight: 600;
      }
  
      p
      {
        font-size: 1.6rem;
        text-align: justify;
      }
  
      #avis
      {
        font-weight: 600;
        margin-bottom: 10px;
      }
  
      .commentaire
      {
        margin-bottom: 30px;
      }
    
      .github
      {
        width: 7%;
        min-width: 90px;
        height: auto;
        margin-top: 20px;
        margin-left: -20px;
      }
    
      .mockup-wrapper
      {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        padding: 50px 0;
        
        img
        {
          width: 100%;
          max-width: fit-content;
          height: 80%;
          max-height: 430px;
        }
      }
    }
  }
}