@import '../../../app.scss';

table
{
    width: 100%;
    min-width: 1200px;
    border-collapse: collapse;
    background-color: rgba($color: #f7f4f454, $alpha: 0.2);
    font-size: 30px;
    display: flex;
    flex-direction: column;

    @media (max-width: 1600px) 
    {
        min-width: 900px;
    }

    @include desktop 
    {
        max-width: 800px;
    }

    tr
    {
        display: flex;
    }

    th
    {
        font-size: 35px;
        display: flex;
        justify-content: center;
    }

    th, td 
    {
        flex: 1;
        padding: 20px;
        text-align: left;
        display: flex;
        align-items: center;
        border: 1px solid #ffffff62;
    }

    td
    {
        height: 180px;
    }
    
    td img 
    {
        width: 85px;
        max-height: 100px;
        height: auto;
        margin-right: 20px;
        filter: grayscale(100%);
        cursor: pointer;
    }

    td img:hover
    {
        filter: none;
        transition: filter 0.2s ease-in-out;
        transform: scale(1.1);
    }

    #small
    {
        width: 150px;
    }
}