@font-face {
    font-family: "Scarva";
    src: url("../../utils/SCARVA.woff");
}


.APropos
{
    position: relative;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background: linear-gradient(180deg, rgba(112,221,214,1) 28%, rgba(200,235,220,1) 100%);
    background: linear-gradient(180deg, rgba(57,183,231,1) 36%, rgb(114, 230, 238) 96%);
    overflow: hidden;

    h3
    {
        font-size: 2.5vw;
        font-weight: 600;
        margin-left: 5%;
        z-index: 4;
    }


    .flex
    {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .description
        {
            z-index: 4;
            margin-right: 5%;
            margin-left: 5%;
            -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
            text-align: justify;
            overflow: hidden;

            p
            {
                font-size: 1.5vw;
                font-weight: 400;
            }

            strong
            {
                font-weight: 600;
            }
        
            #space /* escpace entre paragraaphes */
            {
                margin-top: 30px;
            }

            #contact-link, #cv/* balise a "me contacter */
            {
                font-weight: 600;
                color: white;
                text-decoration: none;
                position: relative;
            }

            /* Aide animation : https://codepen.io/geoffgraham/pen/yLzvXyL */
            #contact-link::before, #cv::before
            {
                background: rgba(82, 150, 179, 0.65);
                content: "";
                inset: 0;
                position: absolute;
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 0.5s ease-in-out;
                z-index: -1;
            }

            #contact-link:hover::before, #cv:hover::before
            {
                transform: scaleX(1);
                transform-origin: left;
            }
        }

        .skills-wrapper 
        {
            position: relative;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 15px;
            grid-row-gap: 15px;
            align-items: center;
            width: 60%;
            height: auto;
            z-index: 3;
            margin-right: 5%;
            margin-left: 5%;
            overflow: hidden;
            -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);

            #small
            {
                width: 70%;
            }

            #big
            {
                width: 45%;
            }
        }

        img /* langages */
        {
            width: 60%;
            height: max-content;
            filter: grayscale(100%);
            cursor: pointer;
            margin: 10px;
        }

        img:hover
        {
            filter: none;
            transition: filter 0.2s ease-in-out;
            transform: scale(1.1);
        }
    }
   

    .nuage-1
    {
        background-image: url("../../utils/assets/parallax_apropos/1grand_nuage_devant.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        width: 70%;
        height: 100%;
        position: absolute;
        top: -15vh;
        z-index: 3;
    }

    .nuage-2
    {
        background-image: url("../../utils/assets/parallax_apropos/2long_nuage_fond.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 70%;
        height: 100%;
        position: absolute;
        bottom: -45vh;
        z-index: 2;
    }

    .nuage-3
    {
        background-image: url("../../utils/assets/parallax_apropos/3petits_nuages_haut_gauche.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        width: 70%;
        height: 100%;
        position: absolute;
        z-index: 2;
    }

    // .birds
    // {
    //     background-image: url("../../utils/assets/parallax_apropos/birds.webp");
    //     background-size: contain;
    //     background-repeat: no-repeat;
    //     background-position: top;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     right: -800px;
    //     top: -150px;
    //     z-index: 2;
    // }
}