@font-face {
    font-family: "Scarva";
    src: url("../../utils/SCARVA.woff");
}


.APropos
{
    position: relative;
    width: 100%;
    height: 120dvh;
    // background: linear-gradient(180deg, rgba(112,221,214,1) 28%, rgba(200,235,220,1) 100%);
    background: linear-gradient(180deg, rgba(57,183,231,1) 36%, rgb(114, 230, 238) 96%);
    overflow: hidden;

    .flex
    {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        .description
        {
            height: auto;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 4;
            margin-right: 5%;
            margin-left: 5%;
            -webkit-backdrop-filter: blur(7px);
            backdrop-filter: blur(7px);
            text-align: justify;
            overflow: hidden;

            h3
            {
                font-size: 70px;
                font-weight: 600;
                margin-bottom: 5%;
                z-index: 4;
            }

            p
            {
                font-size: 40px;
                font-weight: 400;
            }

            strong
            {
                font-weight: 600;
            }
        
            #space /* escpace entre paragraphes */
            {
                margin-top: 30px;
            }

            a
            {
                position: absolute;
            }

            a img
            {
                width: 150px;
                filter: invert(1);
            }

            .email-svg, #Layer_2
        {
            width: 100%;
            height: 100%;
            position: absolute;
            margin: auto;
            pointer-events: none;
        }
        }

        .skills-container
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 5%;
            width: 50%;
            height: auto;
            max-width: 1100px;

            h3
            {
                font-size: 70px;
                font-weight: 600;
                margin-bottom: 5%;
                z-index: 4;
            }

            .skills-wrapper 
            {
                position: relative;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(4, 1fr);
                grid-column-gap: 15px;
                grid-row-gap: 15px;
                align-items: center;
                
                height: auto;
                z-index: 3;
                margin-right: 5%;
                margin-left: 5%;
                overflow: hidden;
                -webkit-backdrop-filter: blur(7px);
                backdrop-filter: blur(7px);
            }
        }
    }
   

    .nuage-1
    {
        background-image: url("../../utils/assets/parallax_apropos/1grand_nuage_devant.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        width: 70%;
        height: 100%;
        position: absolute;
        top: -15vh;
        z-index: 3;
        pointer-events: none;
    }

    .nuage-2
    {
        background-image: url("../../utils/assets/parallax_apropos/2long_nuage_fond.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 70%;
        height: 100%;
        position: absolute;
        bottom: -30vh;
        z-index: 2;
        pointer-events: none;
    }

    .nuage-3
    {
        background-image: url("../../utils/assets/parallax_apropos/3petits_nuages_haut_gauche.webp");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        width: 70%;
        height: 100%;
        position: absolute;
        z-index: 2;
        pointer-events: none;
    }

    // .birds
    // {
    //     background-image: url("../../utils/assets/parallax_apropos/birds.webp");
    //     background-size: contain;
    //     background-repeat: no-repeat;
    //     background-position: top;
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     right: -800px;
    //     top: -150px;
    //     z-index: 2;
    // }
}