*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body
{
    color: white;
}

a
{
    text-decoration: none;
    color: inherit; /* prend la couleur du parent (body donc white) */
}

@mixin mobile 
{
    @media (max-width: 738px) 
    {
      @content;
    }
}

@mixin tablet 
{
    @media (max-width: 1024px) 
    {
        @content;
    }
}

@mixin desktop 
{
    @media (max-width: 1366px) 
    {
        @content;
    }
}